/* navigation style start */
nav {
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    justify-content: right;
}

li {
    list-style: none;
    margin-right: 20px;
}

li a {
    color: black;
}

/* beggining of start Journey style */

.start-journey {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 100px;
    margin-left: 100px;
}

.start-info {
    margin-top: 50px;
    height: 270px;
    width: 582px;
}

.start-info h2 {
    font-size: 52px;
    font-weight: 700;
}

.start-button {
    background-color: #E02C6D;
    border-radius: 30px;
    padding: 8px;
}

a {
    text-decoration: none;
}

.start-button a {
    color: white;
    margin-left: 20px;
}

.fa-arrow-right {
    color: white;
    margin-right: 20px;
}

.start-img img {
    width: 440px;
    height: 414px;
}

/* logo design */
.logo-add {
    margin: 50px 100px;
}

.logos {
    display: flex;
    justify-content: center;
}

.logos img {
    margin: 30px;
}

hr {
    border: 2px solid rgba(168, 165, 165, 0.942);
    border-radius: 80%;
}

/* popular collections style */

.popular-collections {
    /* margin: 50px; */


}

.collection-heading {
    text-align: center;
    margin-bottom: 50px;
}

.collections {
    margin: 50px 50px 50px 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.collection {
    width: 329px;
    height: 476px;
}

.fa-star {
    color: goldenrod;
}

/* see more button design */
.see-more {
    position: relative;
    left: 1000px;

}

.see-more i,
a {
    color: #E02C6D;
    margin: 3px;

}

button {
    border: none;
    background-color: white;
}

/* footer design */
footer {
    margin: 0;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0A0826;
    justify-content: center;
}

.footer-text,
.footer-icon {
    color: white;
    margin-top: 0%;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 15px;
}